.swiper-container.round {
  border-radius: 20px;
  height: 460px;
}
.swiper-container.forBoxShadow {
  padding: 12px;
  margin: -12px;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #eee;
}
.custom-swiper-button-prev {
  left: 0;
  background: rgba(0, 0, 0, 0.4) url("../../images/customSwiper/btn_prev.png")
    45% center no-repeat;
  transform: translate(-50%, -50%);
}
.custom-swiper-button-next {
  right: 0;
  background: rgba(0, 0, 0, 0.4) url("../../images/customSwiper/btn_next.png")
    55% center no-repeat;
  transform: translate(50%, -50%);
}

.custom-swiper-pagination {
  position: absolute;
  bottom: 0;
}
